
header {
    height: 100px;
    width: 1440px;
    background-color: blue;
    color: white;
    display:flex;
}

.header {
    margin-left: 60px;
    margin-top: 20px;
}

header nav ul li a{
    font-size: 35px;    
    
    
}